body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0.5em;
    text-align: center;
    background: #124;
    color: white;
}

.title {
    color: red;
}

.jeff {
    margin: 1em auto;
    border: 4px ridge #eee;
    margin-bottom: 1.5cm;
    text-align: left;
    padding: 0.5em;
    width: 30%;
}

.jeff li {
    list-style: none;
}

a {
    color: #9fa9ff;
}

.view-description {
    white-space:pre-line;
    margin: 1em auto;
    border: 4px ridge #eee;
    margin-bottom: 1.5cm;
    text-align: left;
    padding: 5px;
    width: 30%;
}